div {
  #search-tags {
    border-radius: 5px;
    padding: 10px;
    min-width: fit-content;
    max-width: 900px;
    margin-top: 20px;

    &:focus-within {
      div {
        display: flex;
      }
    }

    input {
      border: none;
      font-size: medium;
      padding: 5px;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    div {
      display: none;
      flex-wrap: wrap;

      button {
        flex-basis: 30%;
        flex-grow: 1;
        gap: 50%;
        cursor: pointer;
        border: none;
        font-size: large;
        text-align: left;

        &:hover {
          color: black;
        }
      }
    }
  }
}

.blue {
  background: #3282F7;
  color: white;

  &::placeholder {
    color: white;
    opacity: 1;
  }
}

.red {
  background: #ED6454;
  color: white;

  &::placeholder {
    color: white;
    opacity: 1;
  }
}

.green {
  background: #68D9A4;
  color: white;

  &::placeholder {
    color: white;
    opacity: 1;
  }
}
