#toto {
  border-radius: 10px;
  padding: 10px;
  width: 800px;
  margin: 10px;

  input {
    border: none;
    font-size: medium;
    width: 800px;
    margin-bottom: 10px;

    &:focus {
      outline:  none;
    }
  }

  div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.blue {
  background-color: #1E90FF;
  color: white;
}

.red {
  background-color: red;
  color: white;
}

.green {
  background-color: green;
  color: white;
}
